.brett {

    
    max-width: 80vw;
    background-color: #212529;
    margin: auto;
    padding: 1.2vw;
}

.zettel {
    
    color: white;
    height: 20vh;
       
    margin-right: 1.2vw;
    margin-bottom: 1.5vh;
    
}